/* Global section */
*{
    margin: 0;
    padding: 0;
}
.primefont{
    font-family: 'Lato', sans-serif;
}

.fix-width{
    width: 1920px;
    margin: 0 auto;
}
.primebtn{
    border-radius: 8px;
    background: #E55473;
    padding: 20px 43px;
    color: white;
    font-size: 20px;
    border: 0;
    cursor: pointer;
}

/* header section */
header{
    background: rgba(229, 84, 115, 0.10);
    margin-bottom: 178px;
}
.banner{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 0 0 0 ;
}
.banner .banner-left h1{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
.banner .banner-left p{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    line-height: 30px;
    margin: 32px 0;
}


/* Featured section */

.feature-heading h2{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}
.feature-heading p{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    width: 594px;
    line-height: 30px;
    margin: 24px auto 0 auto;
}

.featurepic{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.featurepic div{
    border-radius: 300px 300px 0px 0px;
    width: 464px;
    height: 538px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: end;
    margin-top: 48px;

}
.featurepic .div1{
    background: rgba(167, 33, 98, 0.15);
}
.featurepic .div2{
    background: rgba(5, 151, 160, 0.15);
}
.featurepic .div3{
    background: rgba(71, 125, 17, 0.15);
}
.featurepic .div2 img{
    margin:117px 47px 51px 47px;
    ;
}
.featuretxt{
    margin-top: 32px;
    display: flex;
    justify-content: space-around;
}
.featuretxt li{
    list-style: none;
}
.featuretxt li a{
    color: #272727;
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

/* service-container */

.service-container{
    display: flex;
    justify-content: space-around;
    padding: 87px 0;
    background: #2727270D;
    margin: 128px auto;
}
.service-container div{
    text-align: center;
}
.service-container div p{
    color: rgba(39, 39, 39, 0.80);
    font-family: Lato;
    font-size: 24px;
    font-weight: 600;
    margin-top:20px;
}

/* Offer section */

.offer{
   background-color: #E554730D;
   text-align: center;
   padding: 100px 0;
   margin-bottom: 128px;
}

.offerheading{
    font-size: 40px;
    font-weight: 800;
}